.banners {
  position: relative;
  &::before {
    content:'';
    background-image:url('../src/img/bg-banner-detail.png');
    z-index: 10;
    position: absolute;
    bottom:0;
    left: 0;
    width:100%;
    height: 5.2rem;
    background-repeat: repeat-x;
     background-color: #f5eacf;
  }

  .banner-item {
    position: relative;
  }

  .button-nav {
    position: absolute;
    top: 50%;
    color:$color-White;
    width: 8rem;
    height: 8rem;
    cursor: pointer;
    display: flex;
    text-align: center;
    z-index: 1;
    transition: .3s;
    transform: translate(0, -50%);
    border:1px solid transparent;
    border-radius:5px;
    justify-content: center;
    background:transparent;
  }

  .button-nav-prev {
    background:url('../src/img/icn-banner-prev.png') center center no-repeat;
    background-size: cover;
    left: 10%;
  }

  .button-nav-next {
    background:url('../src/img/icn-banner-next.png') center center no-repeat;
    background-size: cover;
    right: 10%;
    
  }
  .legenda {
    position: absolute;
    max-width: 663px;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    h1 {
      font-size: 6rem;
      color:$color-White;
      margin-bottom: 2rem;
      -webkit-text-stroke-width: 2px; 
      -webkit-text-stroke-color: $color-9;
    }
  }

  .banner-btn {
    width: 20rem;
    padding: 0 1.6rem;
    background:$color-16;
    display: flex;
    justify-content: center;
    margin-left: 22rem;
    align-items:center;
    height: 5rem;
    border-radius:2.5rem;
    font-size: 2.4rem;
    color:$color-1;
    border: 1px solid $color-1;
  }
}

.slick-current h1 {
  animation:cusor 500ms infinite normal, show-legenda  3s  1s normal;
}

@keyframes show-legenda {
 from{
  width: 0%;
 }
 to {
  width:68rem;
 }
}

@keyframes showlegenda {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


@media (max-width:1500px) {
  .banners {

    .legenda {
      position: absolute;
      left: 47%;
    }
  }
}

@media (max-width:1400px) {
  .banners {

    .legenda {
      position: absolute;
      left: 45%;
    }
  }
}

@media (max-width:1300px) {
  .banners {

    .legenda {
      position: absolute;
      left: 42%;

      h1 {
        font-size: 5rem;
      }
    }
  }
}


@media (max-width:1200px) {
  .banners {

    .legenda {
      position: absolute;
      left: 40%;

      h1 {
        font-size: 5rem;
      }
    }
  }
}

@media (max-width:1024px){
  .banners {
    z-index: 1;
    .button-nav-prev, .button-nav-next {
      background:transparent;
    }

    .legenda {
      position: absolute;
      top: 41%;

      h1 {
        font-size: 5rem;
      }
    }

    .banner-btn {
      width: 15rem;
      font-size: 2rem;
      height: 4rem;
      margin-left: 25rem;
    }
    
    .slick-slide img {
      margin-bottom: 5rem;
    }
  }
}

@media (max-width:850px) {
  
  .banners {

    .legenda {
      h1 {
        font-size: 3rem;
        width: 59%;
        margin-left: 4rem;
      }
    }

    .banner-btn {
      margin-left: 16rem;
    }
  }
}

@media (max-width:600px) {
  
  .banners {

    .banner-btn {
      margin-left: 14rem;
    }
  }
}

@media (max-width:500px) {

  .banners {

    .legenda {
      position: absolute;
      top: 30%;
  
      h1 {
        font-size: 2.5rem;
      }
    }

    .banner-btn {
      width: 12rem;
      height: 3rem;
      font-size: 1.5rem;
      margin-left: 13rem;
    }
  }
}

@media (max-width:400px) {
  .banners {

    .legenda {
      position: absolute;
      top: 30%;
      left: 30%;
  
      h1 {
        font-size: 2.5rem;
      }
    }

    .banner-btn {
      width: 12rem;
      height: 3rem;
      font-size: 1.5rem;
      margin-left: 9rem;
    }
  }

  .article-treatments {

    .article-treatments__carousel {

      .slick-dots button {
        width: 2.5rem;
      }
    }
  }

  .section-curiosities {
    
    .centered-container {
      padding-top: 14rem;
    }
    .curiosities-content {

      a {
        margin-left: 21rem;
        font-size: 1.2rem;
      }
    }

    .curiosities-content a span {
      padding: 1rem;
    }

    .button a {
      margin-left: 8rem;
      width: 16rem;
      font-size: 2rem;
    }
  }
}

