@font-face {
  font-family: "Altair-Bold";
  src: url("../src/fonts/Altair-Bold.eot") format("eot"),
  url("../src/fonts/Altair-Bold.woff") format("woff");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../src/fonts/Lato-Regular.eot") format("eot"),
  url("../src/fonts/Lato-Regular.woff") format("woff");
}
