.article-treatments {
  background: url('../src/img/bg-treatments.png');
  max-width: 100%;
  padding: 5rem 0;
  display: block;

  .centered-container {
    max-width: 68%;
  }

  .slick-track {
    text-align: center;
  }

  .article-treatments__title {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    h1 {
      background:$color-7;
      width: 30rem;
      padding: 1rem;
      text-align: center;
      border-radius: 20rem;
      color:$color-3;
      font-size: 4.3rem;
    }
    img {
      position: relative;
      left: -1rem;
    }
  }

  a {
    text-decoration: none;
  }

  .treatment-item {
    h3 {
      max-width: 28.5rem;
      font-size: 3rem;
      color:$color-3;
      text-align: center;
      margin: 0 auto;
    }
  }

  .article-treatments__carousel {
    position: relative;

    .slick-dots {
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin-top: 5rem;

      li + li {
        margin-left: 1.2rem;
      }
      
      li.slick-active {
        button {
          background:$color-White;
        }
      }

      button {
        display: block;
        font-size: 0;
        width: 120px;
        height: 2px;
        background:$color-2;
        border:none;
      }
    }
    .wp-post-image {
      margin-bottom:-6rem;
    }
  }
}

.home-page {
  position: relative;
  background-color: $color-7;
  padding: 5rem;
  max-width: 100%;
  
  .home-page__content {
    display: flex;
    
    >div {
      width: 50%;
      &.home-page-content__item {
        padding-left: 4rem;
      }
    }
  }

  .home-page__tilte {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    font-size: 2.8rem;
    color:$color-3;
    img {
      margin-right: 1.6rem;
    }
  }

  p {
    font-family: 'Lato-Regular';
    font-size: 1.8rem;
    color:$color-3;
    line-height: 2.8rem;
    margin-bottom: 2rem;
  }
  
  .home-page-item__image {
    position: absolute;
    top: 47%;
    left: 82%;
  }
  
  .home-page-item__image1{
    position: absolute;
    left: 81%;
    top: 85%;
    
    .star {
      background:$color-blue;
      width: 6rem;
      height: 6rem;
      border-radius:50%;
      text-align: center;
      padding-top: 1rem;
     
    }
  }
}

.section-schedule {
  position: relative;
  background-color:$color-2;
  max-width: 100%;
  height: 0 5.5rem;
  padding: 5.3rem;
  .section-schedule__title {
    display: flex;
    align-items:center;
    margin-bottom: 2rem;
    padding-top: 5rem;

    h1 {
      margin-left: 1rem;
      font-size: 4.2rem;
      color: $color-11;
    }
  }

  .section-sechedule__image {
    display: flex;
  }
  .section-sechedule__contact {
    display: flex;
    form {
    position: relative;
    span {
      input {
        width: 30rem;
        padding: 1rem;
        border: solid 0.3rem;
        border-color: $color-7;
        border-radius:5rem;
        margin-bottom: 2rem;
      }
    }

    label {
      display: flex;
      margin-left: 1rem;
      font-size: 1.8rem;
      color: $color-17;
    }
  
    .wpcf7-submit {
      position: absolute;
      top: 60%;
      left: 108%;
      width: 5.5rem;
      height: 5.5rem;
      border-radius:50%;
      border:none;
      color: transparent;
      background: url('../src/img/img8.png' ) center center no-repeat;
      background-color:$color-blue;
    }
  }
  .section-sechedule__image {
      position: absolute;
      left: 45%;
      top: 8%;
    }
  }
}

