.main-header {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  z-index: 10;
  
  .centered-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main__header-logo {
    img {
      margin-top: 2rem;
    }
  }
 
  &__inner-social {
    display: flex;
    align-items:center;
    justify-content: flex-end;
    margin-bottom: 3rem;
    padding-top: 3rem;
    margin-right: 10rem;
  }

  .social-list {
    display: flex;
    list-style-type: none;
    margin-right: 2rem;

    li + li {
      margin-left: 1.2rem;
    }

    a {
      position: relative;
      display: flex;
      width: 3.8rem;
      height: 3.8rem;
      border:1px solid;
      border-radius: 50%;
      font-size: 1.8rem;
      justify-content: center;
      align-items:center;
      text-decoration: none;
      background: $color-White;

      &::before {
        content:'';
        width: 3rem;
        height: 3rem;
        border-top: 1px solid;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-10deg);
        border-radius:50%;
      }

      &.link-instagram {
        border-color: $color-4;
        color: $color-4;

        &::before {
         border-color:$color-4;
        }
      }

      &.link-facebook {
        border-color:$color-5;
        color: $color-5;

        &::before {
          border-color: $color-5;
        }
      }

      &.link-whatsapp {
        border-color:$color-6;
        color: $color-6;

        &::before {
          border-color:$color-6;
        }
      }
    }
  }

  form {
    position: relative;
    input {
      width: 25rem;
      height: 4rem;
      border:2px solid $color-1;
      background:$color-2;
      border-radius:2rem;
      outline: none;
    }
  }

  #searchsubmit {
    position: absolute;
    top: -13%;
    right: 0;
    transform: translateY(-50);
    width: 5rem;
    height: 5rem;
    background:$color-1;
    color:$color-White;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 50%;
    border:none;
    color: transparent;
  }

  .social-list a {
    width: 2.8rem;
    height: 2.8rem;
    
  }

  .main-header__inner-social {
    position: relative;
    .fa-search {
      color:$color-White;
      position: absolute;
      left: 91%;
      top: 56%;
      font-size: 1.8rem;
    }
  }
}
