.main-menu {
  position: absolute;
  left: 41%;
  margin-top: 14rem;
  padding-right: 25.2%;
  background: $color-1;

  .menu {
    position: relative;
    display: flex;
    list-style-type: none;
    height: 5rem;
    align-items:center;

    &::before {
      content: '';
      width: 5rem;
      height: 5rem;
      background:$color-1;
      position: absolute;
      top: 0;
      right: 100%;
      border-top-left-radius: 5rem;
    }

    ul li {
      display: inline-block;
    }

    a {
      display: block;
      padding: 0 1.6rem;
      font-size: 1.6rem;
      text-decoration: none;
      color:$color-White;
    }
  }
}


@media (max-width:1800px) {
  .main-menu {
    padding-right: 26.3%;
    .menu a {
      font-size: 1.4rem;
    }
  } 
}

@media (max-width:1680px) {
  .main-menu {
    padding-right: 24%;
  }
}

@media (max-width:1600px) {
  .main-menu {
    padding-right: 22%;
  }
}

@media (max-width:1500px) {
  .main-menu {
    padding-right: 19.8%;
  }
}

@media (max-width:1400px) {
  .main-menu {
    padding-right: 17%;
  }
}

@media (max-width:1300px) {
  .main-menu {
    padding-right: 13.8%;
  }
}


@media (max-width:1200px) {
  .main-menu {
    padding-right: 10%;
  }
}


@media (max-width:1024px) {

}
