$color-1: #e94d47;
$color-2: #fed558;
$color-3: #f5eacf;
$color-blue: #7093cc;
$color-White: #fff;
$color-green: #70c78b;
$color-4: #e1306c;
$color-5: #3b5998;
$color-6: #25d366;
$color-7:#ee4b4a;
$color-8:#094CFA;
$color-9:#e58773;
$color-10:#e6e6c9;
$color-11:#6590c3;
$color-12:#d75b88;
$color-13:#f89471;
$color-14:#fcc5a9;
$color-15:#ae2882;
$color-16:#fed64c;
$color-17:#696a6b;

$primary-font: 'Altair-Lerume';

